[submodule "design-pattern/*"]
	path = design-pattern/*
	url = https://github.com/ismanf/golang-design-patterns.git
[submodule "design-pattern/golang-design-patterns"]
	path = design-pattern/golang-design-patterns
	url = https://github.com/ismanf/golang-design-patterns.git
[submodule "tutorial/fullstack-nextjs-app-template"]
	path = tutorial/fullstack-nextjs-app-template
	url = https://github.com/xizon/fullstack-nextjs-app-template.git
[submodule "algoritma-dan-struktur-data/gods"]
	path = algoritma-dan-struktur-data/gods
	url = https://github.com/emirpasic/gods.git
[submodule "info/awesome-erlang"]
	path = info/awesome-erlang
	url = https://github.com/erlang-punch/awesome-erlang.git
[submodule "algoritma-dan-struktur-data/go-dsa"]
	path = algoritma-dan-struktur-data/go-dsa
	url = https://github.com/spring1843/go-dsa.git
[submodule "info/theBeamBook"]
	path = info/theBeamBook
	url = https://github.com/happi/theBeamBook.git
[submodule "info/belajar-rust-dasar"]
	path = info/belajar-rust-dasar
	url = https://github.com/ProgrammerZamanNow/belajar-rust-dasar.git
[submodule "info/belajar-golang-rabbitmq"]
	path = info/belajar-golang-rabbitmq
	url = https://github.com/ProgrammerZamanNow/belajar-golang-rabbitmq.git
[submodule "info/jenkins-tutorial"]
	path = info/jenkins-tutorial
	url = https://github.com/ssbostan/jenkins-tutorial.git
[submodule "info/bellshade-sql"]
	path = info/bellshade-sql
	url = https://github.com/bellshade/SQL.git
[submodule "info/Javascript"]
	path = info/Javascript
	url = https://github.com/bellshade/Javascript.git
[submodule "tutorial/belajar-golang-dependency-injection"]
	path = tutorial/belajar-golang-dependency-injection
	url = https://github.com/ProgrammerZamanNow/belajar-golang-dependency-injection.git
[submodule "tutorial/go-unit-test"]
	path = tutorial/go-unit-test
	url = https://github.com/lutfiandri/go-unit-test.git
[submodule "tutorial/repository-pattern-go"]
	path = tutorial/repository-pattern-go
	url = https://github.com/2yuri/repository-pattern-go.git
